.div_news{
    background-color: #1a73e8;
    padding: 1px 3px 1px 3px;
    color: #fff;
    font-family: 'NA Sans';
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -1px;
}
.span_news{
    margin: 0 3px 0 1px;
    padding: 0 8px;
    color: #1a73e8;
    background-color: #fff;
    font-family: 'NA Sans';
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -1px;
}/*
.category_button{
    text-decoration: none;
	padding: 10px 30px;
	color: #fff;
	border: none;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: .3s ease all;
    margin-left: 10px;
}*/